VITE_BACKEND_BASE_URL=<Put your backend's base URL here>
VITE_PROLIFIC=<Enable/disable prolific>
VITE_DEMO_SESSION=<Enable/disable demo session>
VITE_PROLIFIC_REJECT_LINK=<Prolific rejection link>
VITE_PROLIFIC_ACCEPT_LINK=<Prolific accept link>
VITE_GROUP_DECISION_MAKING=<Enable/disable group decision making>

